<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204924115612-kc65g4mf0cuakpt42scaumf7e9ach9h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204924115612-kc65g4mf0cuakpt42scaumf7e9ach9h9</string>
	<key>API_KEY</key>
	<string>AIzaSyBEDeENABM6aNdAvu9DwwnO_WqXO3vSOKM</string>
	<key>GCM_SENDER_ID</key>
	<string>204924115612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jj</string>
	<key>PROJECT_ID</key>
	<string>finall-47ff7</string>
	<key>STORAGE_BUCKET</key>
	<string>finall-47ff7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204924115612:ios:8290e2c40428d913e52b59</string>
</dict>
</plist>